@include font-face(NotoSans, "../fonts/NotoSans/NotoSans-Regular");

html, body {
    font-family: $font-stack;
    color: $pureblack;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

p {
    font-size: 14px;
}

hr {
    border-top: 1px solid $mediumgrey;
    opacity: 0.4;
}

/* TODO: ADD LI???? */
h1, h2, h3, h4, h5, h6, p {
    opacity: 0.87;
}

.text-center {
    text-align: center;
}
