$font-stack: NotoSans, Helvetica;

/* primary colors */
$red: #F44336;
$pink: #FCE4EC;
$white: #FEFEFE;
$black: #1B1B1B;
$green: #43A047;

/* secondary colors */
$darkgreen: #1B5E20;
$lightgrey: #f0f0f0;
$mediumgrey: #919191;
$grey: #424242;

/* tertiary colors */
$yellow: #FFC107;
$darkpink: #E91E63;
$darkred: #B71C1C;
$darkblue: #3949AB;
$lightblue: #4FC3F7;

/* body texts */
$pureblack: #000000;
$purewhite: #ffffff;
