$font-stack: NotoSans, Helvetica;

/* primary colors */
$red: #E53935;
$pink: #F06292;
$white: #FEFEFE;
$black: #1B1B1B;
$darkgreen: #174c1b;
$green: #388E3C;

/* secondary colors */
$lightgrey: #efefef;
$mediumgrey: #919191;
$grey: #424242;
$lightpink: #FCE4EC;
$blue: #3949AB;
$darkblue: #1A237E;

/* tertiary colors */
$yellow: #FFC107;
$darkpink: #E91E63;
$darkred: #B71C1C;

/* body texts WITH 87% OPACITY */
$pureblack: #000000;
$purewhite: #ffffff;

/* hovered buttons */
$primaryhover: rgba(240, 98, 146, 0.9);
$defaulthover: rgba(239, 239, 239, 0.9);
