/* get the size of the navbar right */
.navbar {
    min-height: 70px;
    margin-bottom: 0px;
    li {
        a {
            line-height: 70px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
}

/* styles of navbar */
.navbar-default {
    background-color: transparent;
    border: none;
    .navbar-nav {
        > .open { /* dropdown */
            > a:focus, a:hover {
                background-color: transparent;
                color: $grey;
            }
        }
        > li {
            padding: 0px 3px 0px 3px;
            > a { /* link color */
                color: $grey;
            }
            > a:hover, a:focus { /* link color on hover */
                color: $grey;
            }
        }
        > .active { /* current link is the page u are on */
            > a {
                background-color: transparent;
                color: $grey;
            }
            > a:hover, a:focus {
                background-color: transparent;
                color: $grey;
            }
        }
    }
}

/* logo styling */
.navbar-brand {
    padding: 0px;
    min-height: 70px;
}

.logo {
    height: 100%;
    padding: 10px 5px 10px 5px;
}

/* navbar divider the ||| */
.navbar-divider {
    line-height: 70px;
}
